<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


<div th:if="${errorMsg}">
	<h3 style ="color:red;" th:text="${errorMsg}"></h3>
</div>

<form  th:action="@{/loginForm}" th:object="${user}" method="post">
	
	Email:<input type="text" th:field="*{email}"><br><br>
	Password:<input type="password" th:field="*{password}"><br><br>
			<input type="submit" value="login"><br><br>
	
</form>
	<a href="index.html">Home</a><br><br><br>
	<a href="regPage">Registration</a>
</body>
</html>